<div class="panel panel-default">
  <div class="panel-heading" title="Contacts">
    <div class="row">
      <div class="col-md-6">
        <h4>Contacts</h4>
      </div>
      <div class="col-md-6">
        <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
      </div>
    </div>

  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <!-- loop through the contact items to pass the index number which will be grabbed by the router -->
        <cms-contact-item *ngFor="let contact of contacts; let i = index" [contact]="contact" [contactIdx]="i"></cms-contact-item>
      </div>
    </div>
  </div>
</div>

